.navbar {
    padding: 2rem 0;
    
    .nav-menu li {
        margin-right: 2rem;
    }

    .nav-menu li.active a {
        color: var(--color-primary);
    }

    .nav-menu li a {
        text-decoration: none;
        color: var(--color-dark-grayish-blue);
        
        &:hover {
            color: var(--color-primary);
        }
    }
}